---
name: "awx-ee / release"

"on":
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  release:
    name: "awx-ee / release"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: install build requirements
        run: |
          pip install -r tools/build-requirements.txt

      - name: build
        run: |
          make build

      - name: test
        run: |
          make test

      - name: podman login quay.io
        uses: redhat-actions/podman-login@v1
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: publish
        run: |
          make publish
